//- nav.navbar.navbar-absolute.navbar-static-top(role="navigation")
	.container
		.navbar-header
			button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navigation-example-2")
				span.sr-only Toogle
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//- a(href='/'): img(src='../imgs/kcc.jpg', style='width:150px; height:100%;')
		.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/manage.offers")
						i.icon.ion-ios-clock-outline
						|  First
				li
					a(href="/manage.recommended")
						i.icon.ion-happy-outline
						|  Second
				li
					a(href="/manage.side_dishes")
						i.icon.ion-happy-outline
						|  Third
nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//- a.navbar-brand(href='/') 
				.row
					.col-md-2
						.logo
							.avatar
								img(src='/favicon.png', alt='...',width="100%",height="auto")
					.col-md-2.col-md-offset-1
						strong eShuri 
		#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href="/")
						i.icon.ion-ios-clock-outline
						|  Home
				li
					a(href="/my.cart")
						i.icon.ion-happy-outline
						|  My Cart