doctype html
//akimanaja17@gmail.com ;)
html(lang="en" ng-app="menu_App")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //meta(http-equiv="X-UA-Compatible" content="IE=edge")        
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='#{csrf_token}', content=_csrf)
    title #{title} @ Sneaker
    link(rel='shortcut icon', href='/favicon.ico')
    // Some css Stuff
    block css_code            
      link(rel="stylesheet", type="text/css", href="../bootstrap/dist/css/bootstrap.min.css")
      link(rel="stylesheet", type="text/css", href="../css/ionicons.min.css")
      link(rel="stylesheet", type="text/css", href="../css/monStyle.css")
      link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Material+Icons")
    //- block menuBar
      include partials/navbar
    body.ng-cloak
      block content
        include partials/navbar
      // Best at the end of the body
      block scripts
        //Execute scripts after the page loading
        script(src="../js/angular.min.js")
        script(src="../js/ngStorage.min.js")
        //script(src="../js/angular.js")
        //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
        
        script(src="../js/angular-route.min.js" )
        
        script(src="../jquery/dist/jquery.min.js", type="text/javascript")
        script(src="../bootstrap/dist/js/bootstrap.min.js", type="text/javascript")
        script(src="../js/MIT/MIT_Dashboard.js", type="text/javascript")
        script(src="../js/MIT/MIT_Dashboard2.js", type="text/javascript")
        script(src="../js/MIT/jquery.tagsinput.js", type="text/javascript")
        script(src="../js/MIT/bootstrap-notify.js",type="application/javascript")
        script(src="../js/my_scripts.js")