$blue: #2196F3;
$dingy: #495B6A;
$white: #ffffff;
$purple: #673AB7;
$yellow: #FFEB3B;
$red: #F44336;
$orange: #FF5722;
$black: #333333;


$trans: 0.3s ease;

* {
  box-sizing: border-box;
}
.post_wrapper {
  height: 80vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  display: inline-block;
  /*position: relative;*/
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: transparent;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  
  &::-webkit-scrollbar {
      width: 0 !important
    display: none;  // Safari and Chrome
  }

  transition: $trans;
}
.post_wrapper::-webkit-scrollbar {
    width: 0.09em;
}
.post_wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.notif_wrapper{
  height: 60vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  display: inline-block;
  /*position: relative;*/
  /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);*/
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: transparent;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  
  &::-webkit-scrollbar {
      width: 0 !important
    display: none;  // Safari and Chrome
  }
  transition: $trans;
}
.notif_wrapper::-webkit-scrollbar {
    width: 0.09em;
}
.notif_wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.chat_wrapper {
  height: 50vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  
  display: inline-block;
  /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);*/
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  /*box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);*/
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  
  &::-webkit-scrollbar {
      width: 0 !important
    display: none;  // Safari and Chrome
  }

  transition: $trans;
}
.chat_wrapper::-webkit-scrollbar {
    width: 0.5em;
}
 
.chat_wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat_wrapper::-webkit-scrollbar-thumb {
  background-color: #e91e63;
  outline: 1px solid slategrey;
}

@media (max-width: 560px) {
  .chat_wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(0);
    
  }
}