extends ../layout
block append content
  .wrapper.wrapper-full-page.full-page-background(ng-controller="oneProdCtrl")
    .full-page.login-page
      .content
        .col-md-12
          .card
            .card-header
              h4.text-center All of my carts <strong ng-bind="carts.length"></strong>
              h4(ng-show="carts.length")
                a.pull-right(href="/checkout") Check out
          .post_wrapper
            .card.card-login(ng-repeat='cart in carts')
              .card-content 
                .col-md-12.col-xs-12
                  .col-md-3
                    img(src='/img/{{cart.picture}}', alt='Product image', width='120', height='40')
                  .col-md-9
                    h3.card-text(ng-bind="cart.name")
                    h2.card-text(ng-bind="cart.price+'$'")
                    h2.pull-right(ng-bind="cart.created_at|date")
            .card.card-login(ng-show="!carts.length")
              h4 Nothing on yours go to 
              a(href="/") Home 
              | for adding to card
      #authenticate_Modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title
                | Provide your information
            .modal-body
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.names', placeholder='Your Names')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.username', placeholder='Username')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.address', placeholder='Address')
            .modal-footer
              button.btn.btn-primary(ng-click='save()') Save
              button.btn.btn-default.pull-right(data-dismiss='modal') Close
block append scripts
  script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
  script.
    var app =angular.module('menu_App', ['ngRoute','ngStorage']);
    app
    .controller('oneProdCtrl', function($scope, $http, $window, $localStorage){
      $scope.loadCarts=(user)=>{
        $http.get('/cart.json/'+user)
        .then((res)=>{
          $scope.carts=res.data
        })
        .catch((err)=>{
          console.log(err)
        })
      }
      $scope.checkAuth=()=>{
        if(!$localStorage.user){
          $('#authenticate_Modal').modal('show');
        }else{
          $scope.username = $localStorage.user.username;
          $scope.loadCarts($scope.username);
        }
      }
      $scope.save=()=>{
        if($scope.user.names&&$scope.user.username&&$scope.user.address){
          $localStorage.user=$scope.user;
          $scope.user=null;
          $('#authenticate_Modal').modal('hide');
          $scope.loadCarts($localStorage.user.username);
        }
      }
      $scope.checkAuth();
    })