extends ../layout
block append content
  .wrapper.wrapper-full-page.full-page-background(ng-controller="oneProdCtrl")
    .full-page.login-page
      .content
        .col-md-12
          .card
            .card-header
              h4.text-cent Checkout <strong ng-bind="carts.length"></strong> on my cart
          .post_wrapper
            .card.card-login
              .card-content 
                .col-md-12.col-xs-12
                  h3.card-text
                    | Names: <strong ng-bind="userInfo.names"></strong>
                  h3.card-text
                    | Username: <strong ng-bind="userInfo.username"></strong>
                  h3.card-text
                    | Address: <strong ng-bind="userInfo.address"></strong>
                  h2.card-text
                    | All product cost: <strong ng-bind="cost+'$'"></strong>
                  button.btn.btn-primary.pull-right(ng-click="checkout()") Chech out
      #authenticate_Modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title
                | Provide your information
            .modal-body
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.names', placeholder='Your Names')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.username', placeholder='Username')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.address', placeholder='Address')
            .modal-footer
              button.btn.btn-primary(ng-click='save()') Save
              button.btn.btn-default.pull-right(data-dismiss='modal') Close
block append scripts
  script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
  script.
    var app =angular.module('menu_App', ['ngRoute','ngStorage']);
    app
    .controller('oneProdCtrl', function($scope, $http, $window, $localStorage){
      $scope.loadCarts=(user)=>{
        $scope.cost=0
        $http.get('/cart.json/'+user)
        .then((res)=>{
          $scope.carts=res.data
          for(var i=0; i<$scope.carts.length; i++){
            $scope.cost+=$scope.carts[i].price;
          }
        })
        .catch((err)=>{
          console.log(err)
        })
      }
      $scope.checkout=()=>{
        $http.get('/action.checkout')
        .then((res)=>{
          $window.location.href='/';
        })
        .catch((err)=>{
          console.log(err)
        })
      }
      $scope.checkAuth=()=>{
        if(!$localStorage.user){
          $('#authenticate_Modal').modal('show');
        }else{
          $scope.username = $localStorage.user.username;
          $scope.userInfo = $localStorage.user;
          $scope.loadCarts($scope.username);
        }
      }
      $scope.save=()=>{
        if($scope.user.names&&$scope.user.username&&$scope.user.address){
          $localStorage.user=$scope.user;
          $scope.user=null;
          $('#authenticate_Modal').modal('hide');
          $scope.loadCarts($localStorage.user.username);
        }
      }
      $scope.checkAuth();
    })