extends ../layout
block append content
  .wrapper.wrapper-full-page.full-page-background(ng-controller="homeCtrl")
    .full-page.login-page
      .content
        .container-fluid
          .card
            .card-header
              h2.text-center List of product on Page <strong ng-bind='page_num'></strong>/<strong ng-bind='page_size'></strong>
          .row
            .col-sm-3.col-md-3(style='margin-top:10px;', ng-repeat="prod in products|orderBy:'created_at':-1")
              .card
                .card-header
                  a(href="/product.one/{{prod.id}}")
                    h3.card-text(ng-bind='prod.name')
                  h5.pull-right(ng-bind="prod.created_at|date")
                .card-body
                  .col-md-8
                    a(href="/product.one/{{prod.id}}")
                      img(src='/img/{{prod.picture}}', alt='{{prod.name}}', width="42", height="42")
                  .col-md-4
                    h3.card-text(ng-bind='prod.name')
                    h5.card-text(ng-bind='prod.model')
                    b.pull-right(ng-bind="prod.price+'$'")
                  .card-footer
                    button.btn.btn-info.btn-sm(ng-click="openModal(prod)") Add to card
          .card
            .card-content
              ul.pagination.pagination-sm.inline
                li(ng-repeat="p in pages")
                  a.active(href='/products/{{p}}?page_size={{page_size}}' ng-bind="p")
      #authenticate_Modal.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title
                | Provide your information
            .modal-body
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.names', placeholder='Your Names')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.username', placeholder='Username')
              .form-group.has-feedback
                input.form-control(type='text', ng-model='user.address', placeholder='Address')
            .modal-footer
              button.btn.btn-primary(ng-click='save()') Save
              button.btn.btn-default.pull-right(data-dismiss='modal') Close
  
  //- .wrapper.wrapper-full-page.full-page-background(ng-controller="homeCtrl")
    .full-page(filter-color="white")
      .content
        .container-fluid
          .card
            .card-header
              h4.text-center List of product
            .card-content
              h5 Be the change you want to see in the world
block append scripts
  script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
  script.
    var app =angular.module('menu_App', ['ngRoute','ngStorage']);
    app
    .controller('homeCtrl', function($scope, $http, $window,$localStorage){
      $scope.loadProducts=(page,size)=>{
        $scope.pages=[];
        $http.get('/products.json/'+page+'/'+size)
        .then((res)=>{
          $scope.products=res.data.products;
          for(var i=1; i<=res.data.pages; i++) $scope.pages.push(i)
          //- $localStorage.pages=res.data.pages;
        })
        .catch((err)=>{
          console.log(err)
        })
      }
      $scope.openModal=(prod)=>{
        $scope.currProd = prod.id;
        if(!$localStorage.user){
          $('#authenticate_Modal').modal('show');
        }else{
          $scope.addToCart(prod.id)
        }
      }
      $scope.save=()=>{
        if($scope.user.names&&$scope.user.username&&$scope.user.address){
          $localStorage.user=$scope.user;
          $scope.user=null;
          $scope.addToCart($scope.currProd);
        }
      }
      $scope.addToCart=(prodId)=>{
        $scope.prod.prod_id=prodId
        $scope.prod.user=$localStorage.user.username;
        $http.post('/add.to.cart',$scope.prod)
        .then((res)=>{
          $scope.loadProducts('#{page_no}','#{page_size}');
          Notifier.success("Product added to card")
          $('#authenticate_Modal').modal('hide');
        }).catch((err)=>{
          Notifier.danger(err.data)
          console.log(JSON.stringify(err));
        })
      }
      $scope.loadProducts('#{page_no}','#{page_size}');
      $scope.page_num = '#{page_no}';
      $scope.page_size = '#{page_size}';
      $scope.prod={};
    })