extends ../layout
block append content
  .wrapper.wrapper-full-page.full-page-background(ng-controller="oneProdCtrl")
    .full-page.login-page
      .content
        .container-fluid
          .card
            .card-header
              h2.text-center #{title}
            .card-body
              .box.box-primary
                .box-header
                .box-body
                  .col-md-8
                    img.img-rounded(src='/img/{{product.picture}}', alt='Car image', width='100%')
                  .col-md-4
                    .panel.panel-primary
                      .panel-heading #{title}
                      .panel-body
                        table.table.table-hover
                          tbody
                            tr
                              td(width='20%') Brand:
                              td(ng-bind="product.brand")
                            tr
                              td Modal: 
                              td(ng-bind="product.model")
                            tr
                              td Price: 
                              td(ng-bind="product.price")
                            tr
                              td Release date: 
                              td(ng-bind="product.created_at")
                      .panel-footer
                        label Car description : {{product.description}}
              .box-footer
                h4 Be the change you want to see in the world
block append scripts
  script(src="../js/MIT/MIT_sweetalert2.js", type="text/javascript")
  script.
    var app =angular.module('menu_App', ['ngRoute']);
    app
    .controller('oneProdCtrl', function($scope, $http, $window){
      $scope.loadProducts=()=>{
        $http.get('/product/#{prod_id}')
        .then((res)=>{
          $scope.product=res.data[0];
          //- console.log('PRoduct:'+$scope.product[0])
        })
        .catch((err)=>{
          console.log(err)
        })
      }
      $scope.loadProducts();
    })